<h1><%= @thread["topic"] %></h1>

<%  @posts.each do |x| %>

	<h3> <a href="/post/<%= x['id'] %>"><%= x["title"] %></a> </h3>
	<h5>Posted By: <%= x["username"]%></h5>

	<p><%= x["content"] %></p>

	<% if x["img_url"] %>

		<img src="<%= x["img_url"]%>">

	<% end %>

<% end %>
<% if @status %>
	<form action="/topic" method="post">
		<input type="hidden" name="topic_id" value="<%= @id %>">
		<input type="hidden" name="user_id" value="<%= current_user['id'] %>">
		<label for="title">Title:</label>
		<input type="text" name="title">
		<label for="content">Content:</label>
		<textarea type="text" name="content" id="" cols="60" rows="30">
		</textarea>
		<input type="submit">
	</form>
<% else %>
	<a href="/login">you must login to post</a>
	<a href="/signup">signup</a>
<% end %>