<% @threads.each do |x| %>
	
	<div class="six columns">

		<h1><a href="/topic/<%= "#{x["id"]}"%>"><%= x["topic"] %></a></h1>
		<a href="/topic/<%= "#{x["id"]}"%>">
			<img src="<%= x["img_url"]%>">
		</a>
		<p> <%= x["description"] %></p>

	</div>

<% end %> 